<launch>


	<!-- Start the ximea camera node -->
	<!-- <arg name="serial" default="31701651"/>
	<include file="$(find aruco_detect)/launch/aruco_detect.launch">
		<arg name="camera" value="/ximea_ros/ximea_$(arg serial)"/>
		<arg name="image" value="/image_raw"/>
		<arg name="dictionary" value="0"/>
	</include> -->

    <!-- Start the dynamixel driver node for interfacing with the dynamixel motors-->
	<node name="dynamixel_interface_controller_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
		<rosparam command="load" file="$(find dynamixel_interface)/config/controller_config.yaml" />
	</node>

    <node name="carouselTrajectory" pkg="carousel" type="trajectory.py" output="screen"></node>
</launch>
