<launch>

	<node name="XimeaDemoNode" pkg="ximea_ros" type="ximea_demo"></node>

	<!-- Start the ximea camera node -->
	<include file="$(find aruco_detect)/launch/aruco_detect.launch">
		<arg name="camera" value="/ximea_ros/ximea_31701651"/>
		<arg name="fiducial_len" value="0.028"/>
		<arg name="image" value="/image_raw"/>
		<arg name="dictionary" value="0"/>
	</include>


	<!-- Start the colour node. -->
	<node name="ColourNode" pkg="carousel" type="colour.py" output="screen"></node>

	<!-- Start the camera node. -->
	<node name="carouselCamera" pkg="carousel" type="camera.py" output="screen"></node> -->

    <!-- Start the dynamixel driver node for interfacing with the dynamixel motors-->
	<node name="dynamixel_interface_controller_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
		<rosparam command="load" file="$(find dynamixel_interface)/config/controller_config.yaml" />
	</node>

	<!-- Start the effector node. -->
	<node name="carouselEffector" pkg="carousel" type="effector.py" output="screen"></node>

	<!-- Start the trajectory generation node. -->
    <!-- <node name="carouselTrajectory" pkg="carousel" type="trajectory.py" output="screen"></node> -->

	<!-- Start the gripper node. -->
	<node name="carouselGripperNode" pkg="carousel" type="gripper.py" output="screen"></node>

	<!-- Start the logic controller node last. -->
	<param name="throw" type="bool" value="True"></param>\
	<node name="carouselLogic" pkg="carousel" type="carousel.py" output="screen"></node>

</launch>
